*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Metrophobic", sans-serif;
}
body{

}
.signupmain{
    padding: 25px;
    width: 505px;
    border: 3px solid #000;
    border-radius: 8px;
}
#firstname{
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 8px;
    color: #000;
    font-size: 20px;
    background-color: transparent;
    font-family: "Mohave", sans-serif;
    padding-left: 20px;
}
#lastname{
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 8px;
    color: #000;
    font-size: 20px;
    background-color: transparent;
    font-family: "Mohave", sans-serif;
    padding-left: 20px;
}
#email{
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 8px;
    color: #000;
    font-size: 20px;
    background-color: transparent;
    font-family: "Mohave", sans-serif;
    padding-left: 20px;
}
#password{
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 8px;
    color: #000;
    font-size: 20px;
    background-color: transparent;
    font-family: "Mohave", sans-serif;
    padding-left: 20px;
}
#creat{
    width: 100%;
    height: 40px;
    border: none;
    background-color: #0f3cc9;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    border-radius: 50px;
    letter-spacing: 1px;
    margin-top: 22px;
}

#creat:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}
#img2{
    width: 40px;
    height: 40px;
}
#subb{
    width: 100%;
    /* margin-left: 2.5%; */
    background-color: #0f3cc9;

    height: 50px;
    border-radius: 20px;
    color: white;
    /* text-align: center; */
    /* margin-left: 20%; */
    margin-top: 20px;
    cursor: pointer;
}
#subb:hover{
    transform: scale(0.95);
    transition: 0.6s;
}
#lgg:hover{
    text-decoration: underline;
    
}